.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 13px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "a0 a1 a2 a3 a4 a5 a6"
      "a7 a8 a9 a10 a11 a12 a13"
      "a14 a15 a16 a17 a18 a19 a20";
  }

  .a0 { grid-area: a0; }

  .a1 { grid-area: a1; }
  
  .a2 { grid-area: a2; }
  
  .a3 { grid-area: a3; }
  
  .a4 { grid-area: a4; }
  
  .a5 { grid-area: a5; }
  
  .a6 { grid-area: a6; }
  
  .a7 { grid-area: a7; }
  
  .a8 { grid-area: a8; }
  
  .a9 { grid-area: a9; }
  
  .a10 { grid-area: a10; }
  
  .a11 { grid-area: a11; }
  
  .a12 { grid-area: a12; }
  
  .a13 { grid-area: a13; }

  .a14 { grid-area: a14; }
  
  .a15 { grid-area: a15; }
  
  .a16 { grid-area: a16; }
  
  .a17 { grid-area: a17; }
  
  .a18 { grid-area: a18; }
  
  .a19 { grid-area: a19; }
  
  .a20 { grid-area: a20; }
  