*{
    margin:0px;

}
body{
    font-family: 'Tahoma', sans-serif;
    color: aliceblue;
    background-color: rgb(33, 36, 51);
}


.container{
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    object-fit: contain;
    max-height: 100%;
    transition: transform 450ms;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    margin: 5px 5px 8px 8px;
}

.card-group {
    display:flex;
    align-content: center;
    overflow-y:visible;
    overflow-x: scroll;
    padding: 10px;
    margin: 10px;
}

.card-title{
    font-size: large;
}

.card-img {
    border: 2px solid darkslategrey;
    border-radius: 30px;
}

.card:hover{
    transform: scale(1.15);
/*    border: 4px linear-gradient(#a88734 #9c7e31 #f0c14b);*/
    border-radius: 20px;
    text-shadow: 0 0 5px #10ffb7;
}

.card-group::-webkit-scrollbar {
    display: none;
}