{% extends 'base.html' %} 

{% block content %} 
<h3 class="text-center">Sign-In</h3>
<form method="POST">
    {{ siform.hidden_tag() }}
    <div class ='form-group'>
        <fieldset id="username-field">
            {{ siform.username.label }}
            {{ siform.username(class='form-control', placeholder='Enter Your Username') }}
        </fieldset>
        <fieldset id="password-field">
            {{ siform.password.label }}
            {{ siform.password(class='form-control', placeholder='Enter Your Password') }}
        </fieldset>
        <br>
        {{ siform.submit(class='btn btn-block btn-dark') }}
    </div>
</form>
{% endblock content %}