{% extends 'components/layout.html' %} 

{% block title %}
    REALITY
{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <h3 class="group-header mt-5 my-5">Reality TV</h3>
    <div class="card-group">
        {% for i in range(reality_show1|length) %}
            <div class="card">
                <img src="{{ reality_show1[i][2] }}" class="card-img" alt="{{ reality_show1[i][0] }}">
                <div class="card-body">
                    <p class="card-title">{{ reality_show1[i][0] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row justify-content-center">
    <h3 class="group-header mt-5 my-5">Cooking Shows</h3>
    <div class="card-group">
        {% for i in range(reality_cooking|length) %}
            <div class="card">
                <img src="{{ reality_cooking[i][2] }}" class="card-img" alt="{{ reality_cooking[i][0] }}">
                <div class="card-body">
                    <p class="card-title">{{ reality_cooking[i][0] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}