{% extends 'components/layout.html' %} 

{% block title %}
    Romance
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card-group">
                {% for i in range(romances|length) %}
                    <div class="card">
                        <img src="{{ romances[i][2] }}" class="card-img" alt="{{ romances[i][0] }}">
                        <div class="card-body">
                            <p class="card-title">{{ romances[i][0] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}