{% extends 'components/layout.html' %} 

{% block content %}
<!-- form for the user to request data about a particular show-->
<div class="row justify-content-center">
    <div class="col-6">
        <form class="form-inline" method="POST">
            {{ searchform.hidden_tag() }}
            <div class="form-group">
                {{ searchform.showname.label(class="mr-2") }}
                {{ searchform.showname(class="mr-2 form-control", placeholder="Show Name") }}
            </div>
            {{ searchform.submit(class="btn btn-info") }}
        </form>
        <small id="showHelp" class="form-text text-muted">Enter the name of a show to look up</small>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        
    </div>
</div>
{% endblock content %} 